.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 24px auto 0 auto;

  .logo {
    font-family: 'Cafe24Danjunghae';
    font-weight: 400;
    font-size: 24px;
    color: black;

    span {
      color: #9264E6;
    }

  }

  .userBtn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;

    img {
      width: 24px;
      height: 24px;
    }

    &:active {
      background-color: #F1ECFF;
    }
  }
}